@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 { 
    font-family: Roboto;
    color:  blue;
 }

* {
    box-sizing:  border-box;
}

img {
    width:  100%;
}

.container {
    max-width: 800px;
    margin: auto;
    height:  100%;
}

header > img {
    width: 40px;
}

header {
    background-color: rgb(150, 150, 150);
    position: sticky;
    top: 0;
}

#accueil {
    background-image: url('images/coffee-cup.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 2em 0;
    color: #fff;
    height: 100vh;
}

footer {
    background-color: darkgrey;
}

section {
    font-size:  16px;
    margin-bottom: 2em;
    color: #2c6c52;
}

article {
    display:  inline-block;
    width:  49%;
}