@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

* {
    box-sizing:  border-box;
}

body {
    color: #4A4A4A;
}

h1 {
    font-family: 'Maven Pro', sans-serif;
}



img {
    width:  100%;
}

header > img {
    width: 40px;
}

header {
    background-color: rgb(150, 150, 150);
    position: sticky;
    top: 0;
}

#accueil {
    background-image: url('images/coffee-cup.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 2em 0;
    color: #fff;
    height: 100vh;
}

footer {
    background-color: darkgrey;
}

section {
    font-size:  16px;
    margin-bottom: 2em;
    color: #2c6c52;
}