@font-face {
	font-family: "Black Signature";
	src: url('BlackSignature_PERSONAL_USE_ONLY.otf') format('opentype');
}

* {
	color: white;
}

html {
    font-size: 12px;
}

@media screen and (min-width: 640px) {
	html {
		font-size: 14px;
	}
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1rem;
}

h1 {
	display: inline;
	font-family: "Black Signature";
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
	background-color: #57687b;
}

#menu {
	text-align: center;
}

.menu-link {
	display: inline;
}

p {
	display: inline;
	font-family: "Open Sans", Arial, sans-serif;
}

strong {
	font-weight: normal;
	font-style: italic;
	text-transform: uppercase;
}

img {
	width: 50%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 80px;
}

em {
	font-style: normal;
}

body {
	background-image: url(https://assets.letemps.ch/sites/default/files/styles/share/public/media/2015/11/10/file6n2bteb78ma1iyaos9gh.jpg.jpeg?itok=t7umTrq-);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media screen and (min-width: 960px) {
	.flex {
		display: flex;
	}

	figure {
		flex-basis:50%;
	}

	p {
		font-size: 18px;
	}
}