@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #4A4A4A;
}
h1 {
    font-family: 'Maven Pro', sans-serif;
}

.container {
    height: 600px;
    display: flex;

}

#first {
    background-color: red;
}

article {
    box-sizing: border-box;
    background-color: aqua;
    border: 1px solid blue;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 50%;
}